<nav class="navbar bg-semi-dark">


    <div class="container">
        <a href="#" class="logo">
          <img src="assets/images/PNG/horizontal/Artboard 95 copy 6.png" height="auto" width="200"/>
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
        <span class="nav-icon"></span>
        </label>

        <ul class="menu">
          <li>
            <a routerLinkActive="active" routerLink="/home" >Home</a>
          </li>
          <li >
            <a routerLink="/services" routerLinkActive="active">Services</a>
          </li>
          <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
          <li><a routerLink="/about-us" routerLinkActive="active">About us</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contact US</a></li>
        </ul>
    </div>
</nav>
