<nav class="navbar bg-semi-dark">


    <div class="container">
        <a href="#" class="logo">
            <img src="assets/images/PNG/horizontal/Artboard 95 copy 6.png" height="auto" width="200"/>
          </a>

          <ul class="menu">
            <li>
              <a routerLink="/home" routerLinkActive="active"><span>Home</span></a>
            </li>
            <li >
              <a routerLink="/services" routerLinkActive="active">Services</a>
            </li>
            <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active">About us</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active">Contact US</a></li>
          </ul>

    </div>





</nav>
