<app-header></app-header>

<section class = "contact-section">
  <div class = "contact-bg">
    <h3>Get in Touch with Us</h3>
    <h2 style="color: #ffcb09; font-weight: bolder;">contact us</h2>
    <div class = "line">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class = "text">Email Us with any question or inqueies or call. We would be happy to answer your questions and set up a meeting with you.</p>
  </div>


  <div class = "contact-body">
    <div class = "contact-info" >
      <div>
        <span><i class = "fas fa-mobile-alt"></i></span>
        <span>Phone No.</span>
        <span class = "text">0908 862 1472</span>
      </div>
      <div>
        <span><i class = "fas fa-envelope-open"></i></span>
        <span>E-mail</span>
        <span class = "text">leverage.virtualservices@gmail.com</span>
      </div>
      <div>
        <span><i class = "fas fa-map-marker-alt"></i></span>
        <span>Address</span>
        <span class = "text">Quilo-quilo South Padre Garcia, Batangas</span>
      </div>
      <div>
        <span><i class = "fas fa-clock"></i></span>
        <span>Opening Hours</span>
        <span class = "text">Monday - Friday (9:00 AM to 5:00 PM)</span>
      </div>
    </div>
  </div>

</section>



<div class="container-boxform">
  <div class="container">
    <div class = "contact-form">

      <form>
        <div>
          <input type = "text" class = "form-control" placeholder="First Name">
          <input type = "text" class = "form-control" placeholder="Last Name">
        </div>
        <div>
          <input type = "email" class = "form-control" placeholder="E-mail">
          <input type = "text" class = "form-control" placeholder="Phone">
        </div>
        <textarea rows = "5" placeholder="Message" class = "form-control"></textarea>
        <input type = "submit" class = "send-btn" value = "send message">
      </form>

      <div class="container">
        <div>
          <img src = "assets/image/contact-png.png" alt = "">
        </div>
      </div>
    </div>
  </div>

  </div>



<div class = "map d-flex justify-content-center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15494.446875345904!2d121.20871416965618!3d13.862330277234415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd15b317ed569d%3A0x77650c1e8881fb64!2sQuilo-quilo%20South%2C%20Padre%20Garcia%2C%20Batangas!5e0!3m2!1sen!2sph!4v1649054029671!5m2!1sen!2sph" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" aria-hidden="false" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<app-footer></app-footer>
