<app-header></app-header>


<section class="banner" id="3" >
  <div class="background"></div>
  <div class="container">
    <div class="text">
      <h1>PORTFOLIO</h1>
      <p style="text-align: center;
      text-justify: inter-word">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores est suscipit explicabo rem aliquid atque totam maxime. Quasi, temporibus id soluta nostrum deleniti nesciunt excepturi dolorum quam dolores aut placeat dolore? Quasi ad rerum quia possimus voluptatum itaque delectus sit mollitia quaerat distinctio consectetur expedita dolores unde, nobis a perferendis repudiandae labore dolore molestias blanditiis. Numquam, adipisci asperiores, magni dicta expedita commodi eius ad cum eveniet iste quis. Sint?
      </p>
      <!-- <button class="btn custom-btn">APPLY NOW</button> -->
    </div>
  </div>
</section>


<div class="header-content">
  <div class="container grid-2">
      <div class="column-1">
          <h1 class="header-title">Web Developers</h1>
          <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.Lorem ipsum dolor sit amet consectetur adipisicing elit. graphic or web designs
          </p>
          <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=
          leverage.virtualservices@gmail.com&tf=1" class="btn" style="color: black;">Apply Now</a>
      </div>

      <div class="column-2 image">
          <img src="assets/images/1.jpg" class="img-element" height="auto" width="auto" />
      </div>
  </div>
</div>

<section class="portfolio section" id="portfolio">
  <div class="background-bg">

      <div class="container">
          <div class="section-header">
              <h3 class="title" data-title="" style="color: black;">LIST OF WORKS</h3>
          </div>

          <div class="section-body">

              <div class="grid">
                 <div *ngFor="let item of obj" class="grid-item logo webdev">
                     <div class="gallery-image">
                         <img src="{{item.img}}" alt="">
                         <div class="img-overlay">
                             <div class="plus"></div>
                             <div class="img-description">
                                 <h3>{{item.project_title}}</h3>
                                 <a (click)="openproject(item.id)" class="btn" style="color: black;">View Project</a>
                             </div>
                         </div>
                     </div>
              </div>
                 <!-- <div class="grid-item webdev">
                  <div class="gallery-image">
                      <img src="assets/img/port3.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a (click)="openproject(2)" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div> -->
                   <!-- <div class="gallery-image">
                      <img src="assets/img/port4.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a (click)="openproject(3)" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item ui">
                  <div class="gallery-image">
                      <img src="assets/img/port5.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a (click)="openproject(4)" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item logo">
                  <div class="gallery-image">
                      <img src="assets/img/port1.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a (click)="openproject(5)" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item appdev">
                  <div class="gallery-image">
                      <img src="assets/img/port6.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a (click)="openproject(6)" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div> -->
              </div>
          </div>
          <div class="more-folio">
              <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=
              leverage.virtualservices@gmail.com&tf=1" class="btn" style="color: black;">AVAIL SERVICES</a>
          </div>
      </div>
  </div>
</section>
<div class="header-content">
  <div class="container grid-2">
      <div class="column-1">
          <h1 class="header-title">Designers</h1>
          <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.Lorem ipsum dolor sit amet consectetur adipisicing elit. graphic or web designs
          </p>
          <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=
          leverage.virtualservices@gmail.com&tf=1" class="btn" style="color: black;">Apply Now</a>
      </div>

      <div class="column-2 image">
          <img src="assets/img/background-1.jpg" class="img-element" height="auto" width="100%" />
      </div>
  </div>
</div>

<section class="portfolio section" id="portfolio">
  <div class="background-bg">

      <div class="container">
          <div class="section-header">
              <h3 class="title" data-title="" style="color: black;">LIST OF WORKS</h3>
          </div>

          <div class="section-body">
            <div class="grid">
              <div *ngFor="let item of obj2" class="grid-item logo webdev">
                  <div class="gallery-image">
                      <img src="{{item.img}}" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>{{item.project_title}}</h3>
                              <a (click)="openproject(item.id)" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
           </div>
                 <!-- <div class="grid-item webdev">
                  <div class="gallery-image">
                      <img src="assets/img/port3.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a href="#" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item ui webdev">
                  <div class="gallery-image">
                      <img src="assets/img/port4.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a href="#" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item ui">
                  <div class="gallery-image">
                      <img src="assets/img/port5.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a href="#" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item logo">
                  <div class="gallery-image">
                      <img src="assets/img/port1.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a href="#" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="grid-item appdev">
                  <div class="gallery-image">
                      <img src="assets/img/port6.jpg" alt="">
                      <div class="img-overlay">
                          <div class="plus"></div>
                          <div class="img-description">
                              <h3>Project Name</h3>
                              <a href="#" class="btn" style="color: black;">View Project</a>
                          </div>
                      </div>
                  </div>
                 </div> -->



              </div>
          </div>
          <div class="more-folio">
              <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=
              leverage.virtualservices@gmail.com&tf=1" class="btn btn-primary" style="color: black;">Avail Services</a>
          </div>
      </div>
  </div>
</section>


<app-footer></app-footer>
