<app-header></app-header>
<section class="banner">
  <div class="background"> </div>
  <div class="container">
    <div class="text">
      <h1>SERVICES AND CAREERS</h1>
      <p>
        Our Virtual Assistants will take and make those calls for you, as
        well as handle all back-end administrative work and manage your
        business as effectively as you do. We will assist you ease into the
        virtual traffic with our plug-and-play technology setup, in addition
        to increasing your productivity with turnkey business services. Come
        see the Leverage Virtual Services difference for yourself!
      </p>
      <!-- <button class="btn custom-btn">APPLY NOW</button> -->
    </div>
  </div>
</section>
<section class="ads">
  <div class="container">
      <div class="row">
        <div class="col">
          <img
            src="/assets/images/SVG/new ads-18.png"
            alt=""
            height="auto"
            width="100%"
          />
        </div>

        <div class="col">
          <img
            src="/assets/images/SVG/new ads-19.png"
            alt=""
            height="auto"
            width="100%"
          />
        </div>

        <div class="col">
          <img
            src="/assets/images/SVG/new ads-25.png"
            alt=""
            height="auto"
            width="100%"
          />
        </div>
      </div>
    </div>


</section>

<section class="aboutserv">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Services</h1>
      </div>

      <div class="col">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus, expedita dolores. Numquam quo voluptatem aliquid dicta
          earum voluptatibus reiciendis reprehenderit placeat, illo sit nobis
          dignissimos obcaecati, inventore nemo, accusamus hic possimus eum
          consectetur tempore perferendis! Tenetur voluptatum, consequatur
          repellendus vero at eius ab maxime provident, ad qui deleniti a
          inventore!
        </p>
      </div>
    </div>

  </div>

</section>
<section class="services">


  <div class="adsheader">
    <h1>LIST OF SERVICES</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row list">
          <h3>Developer</h3>
          <ul>
            <li>Web Development</li>
            <li>Software Development</li>
            <li>Business Development</li>
          </ul>
        </div>

        <div class="row list">
          <h3>Administrative Virtual Staff</h3>
          <ul>
            <li>Appointment Setting</li>
            <li>Executive Assistant</li>
            <li>Leads Generations</li>
            <li>Real State Virtual Assistant</li>
            <li>Inside Sales Virtual Assistant</li>
            <li>Ecomerce Virtual Assistant</li>
            <li>Amazon Virtual Assistant</li>
            <li>Data Entry</li>
            <li>SEO</li>
            <li>Online English Teacher</li>
          </ul>
        </div>

        <div class="row list">
          <h3>Support</h3>
          <ul>
            <li>Technical Support</li>
            <li>Customer Support</li>
            <li>Email Support</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="row list">
          <h3>Design</h3>
          <ul>
            <li>Graphic Designer</li>
            <li>Digital Marketing & Ads</li>
          </ul>
        </div>

        <div class="row list">
          <h3>Production</h3>
          <ul>
            <li>Content Writer</li>
            <li>Podcast Production</li>
            <li>Video Editor</li>
            <li>Audio Editor</li>
            <li>3D Architectural Blueprint</li>
          </ul>
        </div>

        <div class="row list">
          <h3>Acounting</h3>
          <ul>
            <li>Finance</li>
            <li>Transaction Coordinator</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
