<app-header></app-header>


<section class="landing">

    <div class="container h-100">
        <div class="row h-100">
            <div class="col h-100 d-flex align-items-center" >
              <div class="text-wrapper ">
                <h1> <span style="font-weight: 600; letter-spacing: .5px;"> NO ONE GETS</span> <br> <span class="text-white">LEFT BEHIND</span> </h1>
                <button class="btn custom-btn" style="background-color: var(--yellow);">CONTACT US!</button>
              </div>
            </div>

            <div class="col d-flex align-items-center justify-content-center">
              <div class="lev">
                <img src="assets/images/PNG/mark/yellow mark.png" alt="" />
              </div>
            </div>
          </div>
    </div>

  </section>
  <section class="ads">
    <div class="container">
        <div class="row">
          <div class="col">
            <img
              src="/assets/images/SVG/new ads-18.png"
              alt=""
              height="auto"
              width="100%"
            />
          </div>

          <div class="col">
            <img
              src="/assets/images/SVG/new ads-19.png"
              alt=""
              height="auto"
              width="100%"
            />
          </div>

          <div class="col">
            <img
              src="/assets/images/SVG/new ads-25.png"
              alt=""
              height="auto"
              width="100%"
            />
          </div>
        </div>
      </div>


  </section>

  <section class="onboard">
    <div class="custom-shape-divider-top-1649129848">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"
            class="shape-fill"
          ></path>
        </svg>
      </div>

      <div class="container">
        <div class="adsheader">
            <h1>On Boarding Client</h1>
          </div>
        <div class="row">
          <div class="col">
            <div
              class="card text-dark bg-warning mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">Build Campaign Goals</div>
              <div class="card-body">
                <h5 class="card-title">Leverage</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Reprehenderit odio optio provident quo dolorem dolores
                  praesentium eius impedit dignissimos animi!
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card text-white bg-danger mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">Assess Clients Campaign</div>
              <div class="card-body">
                <h5 class="card-title">Leverage</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Architecto, quas nostrum! Optio velit alias id explicabo
                  distinctio dignissimos cumque commodi.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem">
              <div class="card-header">Assign Team</div>
              <div class="card-body">
                <h5 class="card-title">Leverage</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Reprehenderit odio optio provident quo dolorem dolores
                  praesentium eius impedit dignissimos animi!
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card text-white bg-success mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">Discover calls</div>
              <div class="card-body">
                <h5 class="card-title">Leverage</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perspiciatis officiis debitis iste reprehenderit minima,
                  officia rerum aspernatur ad nobis accusamus?
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
              <div class="card-header">Client Orientation</div>
              <div class="card-body">
                <h5 class="card-title">Leverage</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Reprehenderit odio optio provident quo dolorem dolores
                  praesentium eius impedit dignissimos animi!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


  </section>


  <section class="consult">
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3 style="
            color: #fbc91c;
            text-align: center;
            font-weight: bolder;
          ">50+ Satisfied Clientse</h3>
            <p style="color: white; text-align: center ; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus nam libero sint accusantium quam tenetur culpa, odio illo, quae atque suscipit distinctio? Repellendus saepe officia aliquid ipsam accusamus. Cum quo deserunt est ipsum atque. Dolores voluptas inventore aliquid delectus?</p>
          </div>
          <div class="carousel-item">
            <h3 style="
            color: #fbc91c;
            text-align: center;
            font-weight: bolder;
          " > 7,000 Task Completed</h3>
             <p style="color: white; text-align: center ; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus nam libero sint accusantium quam tenetur culpa, odio illo, quae atque suscipit distinctio? Repellendus saepe officia aliquid ipsam accusamus. Cum quo deserunt est ipsum atque. Dolores voluptas inventore aliquid delectus?</p>
          </div>
          <div class="carousel-item">
            <h3 style="
            color: #fbc91c;
            text-align: center;
            font-weight: bolder;
          ">Over 200 Remote Workers</h3>
            <p style="color: white; text-align: center ; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus nam libero sint accusantium quam tenetur culpa, odio illo, quae atque suscipit distinctio? Repellendus saepe officia aliquid ipsam accusamus. Cum quo deserunt est ipsum atque. Dolores voluptas inventore aliquid delectus?</p>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="transform:translateX(-70%) ;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="transform:translateX(70%);">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section class="sect6">
    <!-- <div class="custom-shape-divider-top-1648393009">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
          class="shape-fill"
        ></path>
      </svg>
    </div> -->
    <header class="adsheader" data-aos="fade-up" data-aos-duration="1000">
      <h1>Why Choose Us</h1>
    </header>
    <br />
    <br />

    <div class="container">
      <div class="row">
        <div class="col my-2">
          <div class="mat-card" data-aos="fade-down" data-aos-duration="1000">
            <h2>Our Background</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Dolorem quod sequi odit nostrum. Quis, illo debitis corrupti
              fugiat voluptatum voluptate aliquam natus cumque ipsa est quasi
              provident! Commodi, labore voluptates?
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col my-2">
          <div
            class="mat-card"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <h2>Our Services</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Possimus debitis rem quo veritatis quod corrupti, rerum optio!
              Reiciendis dolor natus nesciunt suscipit harum, autem, nemo
              recusandae nobis vitae officia omnis?
            </p>
          </div>
        </div>
        <div class="col my-2">
          <div class="mat-card" data-aos="fade-left" data-aos-duration="1000">
            <h2>Satisfaction Guaranteed</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              fugit porro, inventore tempore fugiat quod sunt, sit omnis vel
              asperiores, saepe quis odit perferendis ea. Consequuntur maxime
              alias iusto mollitia.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="custom-shape-divider-bottom-1648391733">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
          class="shape-fill"
        ></path>
      </svg>
    </div> -->
  </section>

  <section class="connect">
    <div class="container">
      <div class="row">
        <div class="col">
          <iframe
            class="frame"
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D121391227101012%26id%3D111279611445507&show_text=true&width=500"
            width="500"
            height="590"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
        <div class="col">
          <div class="text-wrapper">
            <h1
              class="h1-responsive"
              data-aos="fade-right"
              data-aos-duration="2000"
            >
              Stay <br />
            </h1>
            <h1
              data-aos="fade-up"
              data-aos-duration="2000"
              data-aos-delay="50"
            >
              <span>Updated!</span>
            </h1>

            <p
              data-aos="fade-up"
              data-aos-duration="2000"
              data-aos-delay="50"
            >
              Follow us on
              <a
                href="https://www.facebook.com/Leverage-Virtual-Services-111279611445507"
                target="_blank"
                >Facebook</a
              >
              to stay up to date with our latest news and events.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
