<app-header></app-header>


<section class="home" id="home">
  <section class="banner">
            <div class="background">
            </div>
          <div class="container">
            <div class="text">
              <h1>ABOUT US </h1>
              <p>
                {{aboutustext}}
              </p>
            </div>
          </div>
  </section>


  </section>

  <section class="post" id="post">
    <div class="container min-vh-100">
        <h1 class="heading" style="font-size: 40px"><span></span> Our Goal <span></span></h1>
        <div class="box-container">

            <div class="box" data-aos="fade-right">

                <img src="assets/images/mission.jpg" alt="" width="100%" height="50px " style="margin-top: -70px;">
                <div class="content">
                   <a href="#"><h3 style="font-size: 25px; margin-top: -70px;">Mission</h3></a>
                    <p style="font-size: 15px">LVS is redefining the home based culture into a Family Business Ideology.
                   The legacy being famous for “no one gets left behind or forgotten” OHANA culture inherited by predecessors and generations thereafter.</p>
                </div>
            </div>

            <div class="box" data-aos="fade-up">
                <img src="assets/images/vision.jpg" alt="" style="margin-top: -70px;">
                <div class="content">

                   <a href="#"><h3 style="font-size: 25px; margin-top: -70px;">Vision</h3></a>
                    <p style="font-size: 15px">LVS is a fun-loving home of leaders honing starters to become the next
                      batch of leaders.  Living and breathing the family centered culture of
                          winning our customers’ heart.</p>

                </div>
            </div>

            <div class="box" data-aos="fade-right">
                <img src="assets/images/purpose.jpg" alt="" style="margin-top: -70px;">
                <div class="content">

                   <a href="#"><h3 style="font-size: 25px; margin-top: -70px;">To Our Client</h3></a>

                    <ul>
                      <li>Vision: Helping organizations successfully build and sustain their marketing and operations at the least effort possible.</li>
                      <li>Mission: To enable and accelerate the business information of all organizations, amplifying their earning potential by providing marketing solutions, process documentation .</li>
                    </ul>
                  </div>
            </div>

            <div class="box" data-aos="fade-down">
              <img src="assets/Team/handshake.png" alt="" style="margin-top: -70px;">
              <div class="content">

                 <a href="#"><h3 style="font-size: 25px; margin-top: -70px;">Our Core Values</h3></a>
                  <ul>
                    <li>Fun-loving environment</li>
                    <li>Heart for Employees</li>
                    <li>Affordable Services</li>
                    <li>Quality Results</li>
                    <li>Lasting Partnership</li>
                  </ul>

              </div>
          </div>

    </div>
    </div>


</section>
<section class="box1" data-aos="fade-in">
  <div class="img-cont d-flex justify-content-center">
    <img src="assets/images/yellow mark.png" alt="" height="50px" width="60x">
  </div>
  <br>
  <h1 class="credit text-center mx-auto" style="font-size: 30px; font-style: italic; "> "No one gets left behind"</h1>

</section>
<section class="about" id="about">

  <div class="container">

      <div class="row min-vh-100 align-items-center">

          <div class="col-md-6 content" data-aos="fade-right">

              <div class="box">

                  <h2 style="font-size:25px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipitLorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit</h2>
              </div>

              <div class="box">
                  <h3 style="font-size:15px"> Stella Masacayan </h3>
                 <i> <h2 style="font-size:15px">Ceo/Founder of Leverage Virtual Services</h2></i>
              </div>


          </div>

          <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
              <img src="assets/Team/CEO.png" height="50%"  width="80%" alt=""  style="margin-left: 100px; border-radius: 60%;">
          </div>

      </div>

  </div>

</section>

<section class="team-section">
  <div class="container">
      <div class="row">
          <div class="section-title">
            <br><br>
              <h1><span></span>Meet Our Team<span></span></h1>
          </div>
      </div>
      <div class="row"  data-aos="fade-in">
          <div class="team-items">
               <div class="item">
                   <img src="assets/Team/superv-04.png" alt="team" height="280px" />
                   <div class="inner">
                       <div class="info">
                            <h5>Erica</h5>
                            <p>Web Designer</p>
                            <div class="social-links">
                                <a href="https://www.facebook.com/profile.php?id=100012093245223"><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-instagram"></span></a>
                            </div>
                       </div>
                   </div>
               </div>
               <div class="item">
                   <img src="assets/Team/superv-03.png" alt="team" height="280px"/>
                   <div class="inner">
                       <div class="info">
                            <h5>Gerald Ebreo </h5>
                            <p>English Transcrition</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-instagram"></span></a>
                            </div>
                       </div>
                   </div>
               </div>
               <div class="item">
                   <img src="assets/Team/superv-02.png" alt="team" height="280px"/>
                   <div class="inner">
                       <div class="info">
                            <h5>Rosemarie Serrano    </h5>
                            <p>Graphic Designer</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-instagram"></span></a>
                            </div>
                       </div>
                   </div>
               </div>
               <div class="item">
                   <img src="assets/Team/superv-01.png" alt="team" height="280px" />
                   <div class="inner">
                       <div class="info">
                            <h5>Genz Garcia</h5>
                            <p>Web Developer</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-instagram"></span></a>
                            </div>
                       </div>
                   </div>
               </div>

          </div>
      </div>
  </div>
</section>

<section class="testimonial">
  <div class="container">
      <div class="section-title">
          <h2>Testimonial?</h2>
          <span class="section-separator"></span>

      </div>
  </div>
  <!-- <div class="testimonials-carousel-wrap">
      <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
      <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
      <div class="testimonials-carousel">
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="assets/image/21.jpg"></div>
                          <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                          <div class="testimonials-text">
                              <div class="listing-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <a href="#" class="text-link"></a>
                              <div class="testimonials-avatar">
                                  <h3>John Doe</h3>

                              </div>
                          </div>
                          <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                      </div>
                  </div>

       
                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="assets/image/3.jpg"></div>
                          <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                          <div class="testimonials-text">
                              <div class="listing-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <a href="#" class="text-link"></a>
                              <div class="testimonials-avatar">
                                  <h3>Doe Boe</h3>

                              </div>
                          </div>
                          <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                      </div>
                  </div>
       

                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="assets/image/4.jpg"></div>
                          <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                          <div class="testimonials-text">
                              <div class="listing-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <a href="#" class="text-link"></a>
                              <div class="testimonials-avatar">
                                  <h3>Boe Doe</h3>

                              </div>
                          </div>
                          <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                      </div>
                  </div>

          
                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="assets/image/6.jpg"></div>
                          <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                          <div class="testimonials-text">
                              <div class="listing-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <a href="#" class="text-link"></a>
                              <div class="testimonials-avatar">
                                  <h3>Doe John</h3>

                              </div>
                          </div>
                          <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                      </div>
                  </div>
                 

              </div>
          </div>
      </div>


  </div> -->

  <app-testimonial></app-testimonial>
</section>
<app-footer></app-footer>
